<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Page for image completion tool">
    <meta name="author" content="Emily Fay">
    <link rel="icon" href="../static/images/favicon.ico">

    <title>Image Completion Tool</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Dropzone CSS -->
    <link href="../static/css/dropzone.css" rel="stylesheet">

  <script type="text/javascript" src="../static/js/dropzone.js"></script>
  <script type="text/javascript" src="../static/js/app.js"></script>

    <style>
        h1 {text-align: center;}
        h3 {text-align: left;}
        p {text-align: center;}
        form {
                text-align: center;
                margin-left: 5rem;
                margin-right: 5rem;}

        .cover-heading
            {
            padding: 0 5em 1em;
            }

        .message {
            text-align: center;
            font-size: 2.0rem;
            margin: 2em 0; }

        #next
            {
            visibility: hidden;
            }



    </style>

<body background = "../static/images/grey.png">

    <div class="site-wrapper">



        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
                <br>
                <br>
                <br>
              <nav>
                <ul class="nav masthead-nav">


                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Image Completion with Deep Learning</h1>
            <p class="lead">To get started, upload an image you want to extend. </p>


     <form class="dropzone dz-clickable" action="flask-upload" method = "POST" id="drop-form" enctype=multipart/form-data>

                    <div class="dz-message">
                        <span>Click to select an image or drag and drop here</span>
                    </div>

                    <div class = "fallback">
                        <input name = "file" type = "file" multiple/>
                        </div>



        </form>

            <input type = "button" value="Next" class="btn btn-lg btn-default" id="next" onclick="location.href='image'">

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

<script>
    var next = document.getElementById("next");

    var message = document.getElementById("message");

    
     var myDropzone = new Dropzone("form#drop-form", {
            url: "flask-upload", // Set the url
            thumbnailWidth: 250,
            thumbnailHeight: 250,
          });


   myDropzone.on("addedfile", function(file) {
    console.log("addedfile");
    console.log(file);
    message.style.visibility = "hidden";
    $('#fileSubmit').click(function(){
        myDropzone.processQueue(); //processes the queue
        });
      });



    myDropzone.on("removedfile", function(file) {
      console.log(file);
      $.ajax({
        url: '../static/upload_landing/' + file.name,
        type: 'DELETE',
        success: function(result) {
          console.log(result);}
          });
     });

    myDropzone.on("queuecomplete", function()
    {
    next.style.visibility = "visible";

    });


</script>




  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.js"></script>

  </body>
</html>
